extend layout
block content
  form(action="/addmagic", method="post")
    input(name="name" type="text", placeholder="name")
    input(name="status" type="text", placeholder="status")
    input(name="rank" type="text", placeholder="rank")
    input(type="submit", value="do your work")
